body{
    margin-top: 70px;
}
.card{
    width: 300px;
    height: 450px;
}
.card-top img{
    width: 260px;
    height: 160px;
    margin: 20px;
    border-radius: 8%;
}
.card-top b{
    font-size: 12px;
}
.card-top p{
    font-size: 12px;
}

/* CARD MAIN */

.card-main h2{
    font-size: 20px;
}
.card-main p{
    font-size: 13px;
}

.attribution {
    margin-top: 60px;
}